.vsconfig
*.csproj
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
CODEGATE.sln
Library/
Logs/
obj/
UserSettings/EditorUserSettings.asset
Temp/
*.sln
.vs/
Build/
UniWebView-CSharp.csproj
UpgradeLog.htm

#ETC(HancomFrontis)
ServerData/